body {
  padding: 10px;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

#videoel {
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
}

h1, .h1, h2, .h2, h3, .h3, {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.addPersonDiv{
  max-width: 330px;
}

img {
    padding: 0;
    margin: 0;
}

.container .header {
    text-align: center;
    top: 0;
    bottom: 330px;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 800px;
    height: 600px;
    /* overflow-y: scroll; */
}

.container .content1 {
    top: 620px;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 20%;
    margin-right: auto;
    width: 50%;
    height: auto;
    /* overflow-y: scroll; */
}

.container .content2 {
    top: 620px;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 60%;
    margin: auto;
    /*width: 60%;*/
    height: auto;
    /* overflow-y: scroll; */
}


a.remove {
    color: red;
    font-size: 2em;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #cceeff;
    color: #222;
}

.tab-content{
    display: none;
    /* background: #ededed; */
    /* padding: 15px; */
}

.tab-content.current{
    display: inherit;
}

.mypro{
    background: none;
    border:1px solid red;
    border:2px solid #000;
    width:250px;
    height:20px;
/*    visibility:hidden; */
    -webkit-appearance: none;
 }
::-ms-fill{
    background:deeppink;
}
::-moz-progress-bar{
    background:deeppink;
 }
::-webkit-progress-bar{
    background:none;
 }
::-webkit-progress-value{
    background:deeppink;
 }
